@using RiversideCms.Mvc.Extensions
@using Riverside.Cms.Services.Element.Client

@model ElementView<FooterElementSettings, FooterElementContent>

<div class="rcms-footer">
    <div class="row">
        <div class="@colClass">
            @Html.MarkdownToHtml(Model.Content.FormattedMessage)
        </div>
        <div class="@colClass footer-admin-options">
            @if (loggedOffUserOptionsGroup != null)
            {
                IAdministrationOptionSection groupSection = loggedOffUserOptionsGroup.Sections[0];
                <p>
                    @foreach (IAdministrationOption option in groupSection.Options)
                    {
                        <a href="@Url.AdminUrl(option)">@option.Name</a>
                    }
                </p>
            }
            @if (loggedOnUserOptionsGroup != null)
            {
                IAdministrationOptionSection groupSection = loggedOnUserOptionsGroup.Sections[0];
                <p>
                    @foreach (IAdministrationOption option in groupSection.Options)
                    {
                        <a href="@Url.AdminUrl(option)">@option.Name</a>
                    }
                </p>
            }
        </div>
    </div>
</div>