@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Elements.Forms
@using Riverside.Cms.Elements.Resources

@model IElementInfo<FormSettings, FormContent>

<div class="rcms-form-admin" ng-app="adminApp" ng-controller="FormController" ng-init="getForm('admin', @ViewBag.PageContext.Page.PageId, @Model.Settings.ElementId)" ng-cloak>
    <div class="spinner" ng-hide="form"></div>
    <form name="htmlForm" role="form" ng-show="form" novalidate>
        <validation-summary ng-model="form.customErrorMessages"></validation-summary>
        <multi-line-text-field ng-model="form.fields.recipientEmail"></multi-line-text-field>
        <text-field ng-model="form.fields.submitButtonLabel"></text-field>
        <text-field ng-model="form.fields.submittedMessage"></text-field>
        <label>@ElementResource.FormFieldsLabel</label>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <button class="btn btn-default btn-block control-margin-bottom" ng-click="addField()" type="submit"><i class="fa fa-fw fa-plus"></i> @ElementResource.FormAddFieldButtonLabel</button>
                <ul class="nav nav-pills nav-stacked control-margin-bottom" ng-sortable="{ animation: 150, handle: '.sort-handle' }" ng-show="form.fieldSets.length > 0">
                    <li role="presentation" ng-class="{ active: form.activeFieldSet == fieldSet }" ng-repeat="fieldSet in form.fieldSets">
                        <a href class="sort-handle" ng-click="selectField(fieldSet)">
                            <i class="fa fa-fw fa-arrows-v"></i> {{fieldSet.fields.label.value}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 col-xs-12" ng-if="form.activeFieldSet">
                <button class="btn btn-default btn-block control-margin-bottom" ng-click="deleteField()" type="submit"><i class="fa fa-fw fa-trash"></i> @ElementResource.FormDeleteFieldButtonLabel</button>
                <div ng-repeat="fieldSet in form.fieldSets" ng-show="fieldSet == form.activeFieldSet">
                    <text-field ng-model="fieldSet.fields.label"></text-field>
                    <select-field ng-model="fieldSet.fields.type"></select-field>
                    <checkbox-field ng-model="fieldSet.fields.required"></checkbox-field>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="submitting || htmlForm.$invalid" ng-click="postForm()">{{form.submitLabel}}</button>
    </form>
</div>