@using Riverside.Cms.Core.Elements
@using Riverside.Cms.Core.Extensions
@using Riverside.Cms.Core.Pages
@using Riverside.Cms.Elements.PageHeaders
@using Riverside.Cms.Elements.Resources
@using Riverside.UI.Extensions

@model IElementInfo<PageHeaderSettings, PageHeaderContent>

<div class="rcms-page-header">

    @if (Model.Settings.ShowName)
    {
        <h1>@Model.Content.Page.Name</h1>
    }

    @if (Model.Settings.ShowDescription && Model.Content.Page.Description != null)
    {
        @Html.MarkdownToHtml(Model.Content.Page.Description)
    }

    @if (Model.Settings.ShowImage)
    {
        <div class="media-object">
            @if (Model.Content.Page.ThumbnailImageUploadId != null)
            {
                <img src="@Url.RouteUrl("ReadPageImage", new { pageid = Model.Content.Page.PageId, format = "thumbnail", description = Url.UrlFriendly(Model.Content.Page.Name), t = Model.Content.Page.ThumbnailImageUploadId })" alt="@Model.Content.Page.Name" />
            }
        </div>
    }

    @{
        bool showUpdated = Model.Settings.ShowUpdated && !(Model.Settings.ShowCreated && (Model.Content.Page.Created.Date == Model.Content.Page.Updated.Date));
        bool showOccurred = Model.Settings.ShowOccurred && Model.Content.Page.Occurred.HasValue;
        bool occursInFuture = showOccurred && Model.Content.Page.Occurred.Value > DateTime.UtcNow;
    }

    @if (Model.Settings.ShowCreated || showUpdated || showOccurred)
    {
        <dl>
            @if (Model.Settings.ShowCreated)
            {
                <dt>@ElementResource.PageHeaderCreatedLabel</dt>
                <dd>@Html.Date(Model.Content.Page.Created)</dd>
            }
            @if (showUpdated)
            {
                <dt>@ElementResource.PageHeaderUpdatedLabel</dt>
                <dd>@Html.Date(Model.Content.Page.Updated)</dd>
            }
            @if (showOccurred)
            {
                <dt>@if (occursInFuture)
                { <text>@ElementResource.PageHeaderOccurredFutureLabel</text> }
                else { <text>@ElementResource.PageHeaderOccurredPastLabel</text> }</dt>
                <dd>@Html.Date(Model.Content.Page.Occurred.Value)</dd>
            }
        </dl>
    }

    @if (Model.Settings.ShowBreadcrumbs)
    {
        <ol class="breadcrumb">
            @foreach (PageLinkViewModel pageLink in Model.Content.PageHierarchyPageLinks)
            {
                <li>@Html.PageLink(pageLink)</li>
            }
            @foreach (PageLinkViewModel pageLink in Model.Content.PageLinks)
            {
                <li>@Html.PageLink(pageLink)</li>
            }
        </ol>
    }

</div>