@using Riverside.Cms.Services.Core.Client

@model PageView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    @Html.Raw(Model.BeginRender)

    @foreach (PageViewZone pageViewZone in Model.PageViewZones)
    {
        @Html.Raw(pageViewZone.BeginRender)

        @foreach (PageViewZoneElement pageViewZoneElement in pageViewZone.PageViewZoneElements)
        {
            @Html.Raw(pageViewZoneElement.BeginRender)

            <div class="rcms-element" id="element-id-@pageViewZoneElement.ElementId">
            </div>

            @Html.Raw(pageViewZoneElement.EndRender)
        }

        @Html.Raw(pageViewZone.EndRender)
    }

    @Html.Raw(Model.EndRender)
</body>
</html>
