@using Riverside.Cms.Services.Core.Client

@model PageRender

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.View.Title</title>
</head>
<body>
    @Html.Raw(Model.View.BeginRender)

    @foreach (PageViewZone pageViewZone in Model.View.PageViewZones)
    {
        @Html.Raw(pageViewZone.BeginRender)

        @foreach (PageViewZoneElement pageViewZoneElement in pageViewZone.PageViewZoneElements)
        {
            @Html.Raw(pageViewZoneElement.BeginRender)

            <div class="rcms-element" id="element-id-@pageViewZoneElement.ElementId">
                @{ if (Model.Elements.ContainsKey(pageViewZoneElement.ElementId)) { Html.RenderPartial(Model.Elements[pageViewZoneElement.ElementId].PartialViewName, Model.Elements[pageViewZoneElement.ElementId].ElementView); } }
            </div>

            @Html.Raw(pageViewZoneElement.EndRender)
        }

        @Html.Raw(pageViewZone.EndRender)
    }

    @Html.Raw(Model.View.EndRender)
</body>
</html>
